* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: var(--colour-main);
  font-size: 100%;
  font-family: var(--font-main);
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--colour-bg);
  overflow-x: hidden;
}

html,
button,
input,
select,
textarea {
  color: var(--colour-main);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--colour-main);

  &:--enter {
    color: color(var(--colour-main) a(80%));
  }
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

:--heading {
  margin-top: 0;
  font-weight: 800;
}

h1 {
  margin: 0;
  font-size: 4.667rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin: 0;
  font-size: 3.667rem;
}

h4 {
  font-size: 2.333rem;
}

h5 {
  margin: 0;
  font-size: 1.5rem;
}

h6 {
  font-size: 1.333rem;
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--button button, .button;
@custom-selector :--enter :hover, :focus;
